@charset 'utf-8';

/*图片轮播*/
#playbox{
	height: 306px;
	width: 100%;
}
 #playbox .oUlplay li{
 	height: 100%;
 	overflow: hidden;
 }
#playbox .oUlplay li img{
 	max-width: none;
 	height: 100%;
 	/*position: absolute;*/
 	/*top: 0;*/
 	/*left: -10%;*/
	margin-left:-40%; 
 }
#playbox .imgcover{
	display: none;
}
#playbox .pre,.next{
	display: none;
}
#playbox .smalltitle{
	position: absolute;
	bottom:20px;
	z-index:10;
}
.smalltitle ul{
	width: 200px;
	height: 16px;
	margin: 0 auto;
}
#playbox .smalltitle ul li{
	width: 8px;
	height: 8px;
	border: 1px solid transparent;
	border-radius: 8px;
}


/*主体部分*/

.container{
	margin-bottom: 0;
}

.main1_ul li{
	margin-bottom: 10px;
	height: auto;
}
.main1_ul .li2{
	height: auto;
}
.main1_ul .li2 a>img{
	width: 100%;
	height: 100%;
}
.main1_ul .li4 a>img{
	width: 100%;
	height: 100%;
}

.main1_ul .li2 .info1{
	width: 100%;
	height: 69%;
	padding:0;
	padding-top: 31%; 
}
.main1_ul .li4 .info1{
	width: 100%;
	height: 69%;
	padding:0;
	padding-top: 31%; 
}


.prolist li{
	float: none;
	width: 100%;
}
.prolist .active{
	width: 100%;
}
.prolist li{
	background-position: 0 40% !important;
	background-size:cover !important;
}
.main3{
	height: 500px;
}
.main3 img{
	max-width: 90%;
}
.main4 .p{
	display: none;
}
.main4 li{
	margin-bottom: 20px;
}

