@charset 'utf-8';
.wrap {
  width: 92%;
  /*max-width: none;*/
  padding-left: 4%;
  padding-right: 4%;
}
.container {
  margin-bottom: 0px;
}
.section1 {
  display: none;
}
.section3 {
  padding: 30px 0;
}
.section4 .tab_chose .uldiv ul {
  width: 2000px;
}
.section4 .tab_chose .uldiv ul li {
  width: 234px;
}
.section5 .s5_title {
  width: 100%;
}
.section5 .s5_title h2 {
  font-size: 35px;
  padding-top: 25px;
}
.section6 h2 {
  font-size: 25px;
}
